# Python cache files
__pycache**
**/*pycache
**/*egg*
**/*.pyc
**/*_cache
# macOS folder system hidden files
**/.DS_Store
.DS_Store
# VS code cache files
**/.vscode/
# Testing cache files
*coverage*
.pytest*