name: Build & Push CI Docker Image

on:
  push:
    branches-ignore:
      - main
    paths:
      - 'Dockerfile.ci'
      - 'requirements-dev.txt'

jobs:
  build-ci-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push CI image
        run: |
          IMAGE=ghcr.io/aranparrish/${{ github.repository }}-ci:latest
          docker build -t $IMAGE -f Dockerfile.ci .
          docker push $IMAGE
