name: Build & Push CI Docker Image

on:
  pull_request:
    branches:
      - main
    paths:
      - 'Dockerfile.ci'
      - 'requirements-dev.txt'

jobs:
  build-ci-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build CI Docker Image
        run: |
          docker build -f Dockerfile.ci -t ghcr.io/${{ github.repository_owner }}/used-car-price-predictor-ci:latest .

      - name: Push CI Docker Image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/used-car-price-predictor-ci:latest
